@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background-color: #666;
}

h1 {
    color: #fff;
    margin-bottom: 2rem;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: #000 !important;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.controls {
    background-color: #333;
    color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 60%;
}

.controls .btn {
    border: none;
    cursor: pointer;
    background: transparent;
}

.controls .fa-play {
    color: #28a745;
}

.controls .fa-stop {
    color: #dc3545;
    margin-left: .4rem;
}

.controls .fa-pause {
    color: #fff;
}

.controls .timestamp {
    color: #fff;
    margin-left: 1rem;
    font-weight: bold;
}

.btn:focus {
    outline: none;
}

@media(max-width:37.5em) {

    .screen,
    .controls {
        width: 90%;
    }
}